html {
    scrollbar-color: #6f7bb0 #ffe9da;
}
@font-face {
  font-family: 'subway';
  src: url('torontoSubway.woff2') format('woff2');
  font-display: swap;
}
body {
    font-family: "subway";
    text-align: center;
    background-color: rgb(209, 250, 153);
    color: black;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    font-family: "subway";
    font-size: 12px;
}
h1 {    
    font-family: "subway";
    font-size: 40px;
}
h2 {
    font-family: "subway";
    font-size: 24px;
}
h3 {
    font-family: "subway";
}
p {
    font-family: "subway";
    font-size: 18px;
}